.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.containerPaper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroImageLeft {
    transform: perspective(1000px) rotateY(20deg) rotateX(5deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.heroImageRight {
    transform: perspective(1000px) rotateY(-20deg) rotateX(5deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: transform 0.5s ease;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .information {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .projectContainer {
        flex-direction: column;
        align-items: center;
    }

}