.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem; /* spazio sotto il primo blocco */
}

.projectDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.visitButton {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.8rem 2rem;
    background-color: #2E7D32;
    color: black;
    font-weight: bold;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow:   0 0 8px rgba(0, 255, 102, 0.4),
    0 0 16px rgba(0, 255, 102, 0.6),
    0 0 24px rgba(0, 255, 102, 0.8);
    font-family: 'Orbitron', sans-serif;
}

.visitButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 35px #00ff66, 0 0 60px #00ff66;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .information {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .projectContainer {
        flex-direction: column;
        align-items: center;
    }

    .heroImageLeft,
    .heroImageRight {
        margin: 30px;
        width: 80%;
        height: auto;
        transform: perspective(600px) rotateY(2deg) rotateX(2deg);
    }

}