.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.link {
    text-decoration: none;
    color: #134E4A;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.1rem;
}

.burger {
    display: none;
    cursor: pointer;
}

.information {
    display: flex;
    width: 25%;
    gap: 2rem;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .information {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: white;
        padding: 1rem 2rem;
        display: none;
    }

    .showMenu {
        display: flex;
    }
}

